/*цвет основного текста #212121, 100 % */

/* вторичный цвет #757575, 100 % */

/*акцент #2196F3 */
/* белый цвет #FFFFFF */
/* фон для сотрудников #F5F4FA */
/* фон для первой части и для подвала #2F303A */
/*==========MAIN CONFIG=============  */

@import './about';
@import './animation';
@import './career';
@import './feedback';
@import './footer';
@import './hero';
@import './media';
@import './nav';
@import './prime';

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --back-color: #2f303a;
  --backgroundcolor-team: #f5f4fa;
  --color-svg: #afb1b8;
  --color-info: rgba(255, 255, 255, 0.6);
  --card-set-gap: 20px;
  --card-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  color: var(--praimary-text-color);
  background-color: var(--white-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body {
  margin: 0 auto;
}

.link {
  text-decoration: none;
  list-style: none;
  color: var(--title-text-color);
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
